<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/public/style.css">
  <head>
    <meta charset="utf-8" />
    <title> AniTrackMe | Error!</title>
  </head>
  <body>
    <h1>Error:</h1>
    <p>
        Unable to fetch id: <%= id %>
    </p>
    <p>
        URL: <a href="<%= url %>"><%= url %></a>
    </p>
  </body>
  <button><a href="/">Back to Anime</a></button>
</html>

