<h1>
    welcome
</h1>
    <div>
<%for (i = 0; i < anime.data.length; i ++) { %>
            <img src="<%=anime.data[i].images.jpg.large_image_url%>" alt="">
            <%if (anime.data[i].title_english) { %>
                <%=(anime.data[i].title_english)%>
            <%}%>
            <%if (anime.data[i].title_english === null) { %>
                <%=(anime.data[i].title)%>
           <% } %>
           <% } %>
    </div>