<form id="search-form">
    <input id="search-input" type="text" />
    <button id="search-button">Search</button>
</form>

<section id="search-results" />
<script type="text/javascript" src="/search.js"></script>
